.App {
  text-align: left;
}

.App-home {
  text-align: center;
  align-items: center;
  justify-content: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  padding-top: 100px;
  background-color: #ececec;
  min-height: 100vh;
  /* display: flex;
  flex-direction: column; */
  align-items: left;
  justify-content: left;
  font-size: calc(8px + 2vmin);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: black;
}

.App-link {
  color: #61dafb;
}
